<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! my
            name is</p>
        <div class="name">
            <p class="p-name">Balbir Singh<span class="p-name2">.</span></p>
        </div>
        
        <div class="name">
            <p class="p-first">i'm a [fairly decent] human from Beawar (Rajasthan), india who is into problem solving and learning new things.</p>
            <p class="p-second">i'm currently building Simple stuff at <a
                    href="https://www.Accenture.com/">Accenture</a>.</p>
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>
